.links_container {
    margin: 3rem auto;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: .5rem;
    width: 100%;
}

.internal_links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.internal_links li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
}

a::after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 0;
    height: .3rem;
    background-color: var(--secondary-color);
    margin-top: 5px;
    transition: width 0.3s ease-in-out;
}

a:hover::after {
    width: 50%;
    opacity: .8;
}
