.link_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-inline: 2rem;
}

.link_header_icon {
    font-size: 1.8rem;
    /* background-color: var(--secondary-color); */
}

.link_header_icon_svg {
    width: 30px;
    height: 30px;
}

.work_experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;
}

.work_experiences_title {
    color: var(--header-color);
}

.work_experiences_title_link {
    display: block;
    margin-bottom: -1rem;
}

.work_experiences_title p {
    color: var(--header-color);
}

.work_experiences_container {
    border-left: 1px solid var(--secondary-color);
    padding: 2rem;
    line-height: 1.9rem;
    position: relative;
}

.work_experiences_container::before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: -10px;
    background-color: var(--secondary-color);
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 2px var(--secondary-color);
}
